// Заголовки, загальні БЕМ блоки та інше...

.title {
  color: #131313;
  font-family: Play;
  @include adaptiveValue("font-size", 48, 32);
  font-weight: 700;
  line-height: 110%; /* 52.8px */
  text-transform: uppercase;
}

.pagination {
  display: flex;
  align-items: center;
  column-gap: rem(10);
  .swiper-pagination-bullet {
    cursor: pointer;
    height: rem(15);
    width: rem(15);
    display: block;
    border-radius: rem(15);
    background-color: #131313;
    transition: all 0.3s ease 0s;
  }
  .swiper-pagination-bullet-active {
    width: rem(50);
  }
}

//========================================================================================================================================================

.date {
  @include adaptiveValue("font-size", 14, 12);
  line-height: 145%; /* 20.3px */
  border-radius: 12px;
  border: 1px solid var(--b-lack, #131313);
  padding: rem(3) rem(5) rem(3) rem(5);
  width: max-content;
}
