// Заголовки, загальні БЕМ блоки та інше...

.title {
  color: #131313;
  font-family: Play;
  font-size: 48px;
  font-weight: 700;
  line-height: 110%; /* 52.8px */
  text-transform: uppercase;
}

.pagination {
}
