// Заголовки, загальні БЕМ блоки та інше...

.title {
  color: #131313;
  font-family: Play;
  @include adaptiveValue("font-size", 48, 32);
  font-weight: 700;
  line-height: 110%; /* 52.8px */
  text-transform: uppercase;
}

.pagination {
  display: flex;
  align-items: center;
  column-gap: rem(10);
  .swiper-pagination-bullet {
    cursor: pointer;
    height: rem(15);
    width: rem(15);
    display: block;
    border-radius: rem(15);
    background-color: #131313;
    transition: all 0.3s ease 0s;
  }
  .swiper-pagination-bullet-active {
    width: rem(50);
  }
}
